<div class="container">
	<h1><%= @nombre.nombre %></h1>

	<%= form_tag(nombre_upd_path, :method => :patch) do %>
	    <div class="form-group">
	  		<%= label_tag(@nombre.nombre, "Nombre") %>
	  		<%= text_field_tag(@nombre.nombre, @nombre.nombre, class: 'form-control',:required => true  ) %>
	    </div>
	    <div class="form-group">
	        <%= label_tag(@nombre.caracteristica, "Caracteristica") %>
	  		<%= text_field_tag(@nombre.caracteristica, @nombre.caracteristica, class: 'form-control',:required => true  ) %>
	    </div>

	    <div class="form-group">
                <%= 
				  select_tag "nacionalidads[]", 
				  options_from_collection_for_select(@nacionalidads, "id", "nombre", @nombre.nacionalidads.ids), {:multiple => 'multiple', :class => 'form-control', :required => true}  
				%>
        </div>

	    <div class="text-center">
	        <button class="btn btn-primary" type="submit">Editar nombre</button>
	    </div>
	<% end %>
</div>